/* .form {
    background: white;
    padding: 2rem;
    height: 100%;
    width: 100%;
}

.form .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.form .form-container .progressbar {
    width: 100%;
}

.form .form-container .content {
    font-weight: bold;
    font-size: 1rem;
    overflow-y: scroll;
}

.form .form-container .form-footer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
} */

/* .form .form-footer .btn-outline-primary, .form .form-footer .btn-outline-success {
    padding: .5rem 2rem;
    font-weight: 600;
} */