.modal .agreement {
    background: white;
    padding: 3rem;
    text-align: center;
    border-radius: 1rem;
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.modal .agreement .buttons {
    display: flex;
    gap: 3rem;
}

.modal .agreement .buttons * {
    padding: .5rem .8rem;
    font-weight: bold;
    border-radius: .5rem;
    margin-top: 2rem;
}

.modal .agreement .buttons *:hover {
    cursor: pointer;
}

.modal .agreement .buttons button:first-child:hover {
    background: green;
    color: white;
}

.modal .agreement .buttons button:last-child:hover {
    background: maroon;
    color: white;
}