.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    height: calc(200vh-5rem);
}

.hero .wrapper {
    height: calc(100vh - 5rem);
    width: 100%;
}

.hero .wrapper::before {
    content: '';
    background-image: url('../../assets/img/mahogany.jpg');
    background-size: cover;
    position: absolute;
    top: -100px;
    left: -120px;
    bottom: 0;
    right: 0;
}

.hero .wrapper::after {
    content: '';
    background: rgba(0, 0, 0, 0.2);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    position: absolute;
    top: 180px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 60%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.hero .wrapper .content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    padding: 2rem 4rem 2rem;
    justify-content: center;
    position: relative;
    z-index: 1;
    color: white;
}

.hero .wrapper .content span:first-of-type {
    font-size: 3rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.hero .wrapper .content span:nth-of-type(2) {
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.hero .wrapper .content span:nth-of-type(3) {
    font-size: 5rem;
    font-weight: bolder;
}

.hero .wrapper .content span:last-of-type {
    font-size: 1rem;
    letter-spacing: 1px;
    text-align: justify;
}

/* LOWER */

.hero .wrapper-bottom {
    height: calc(100vh - 5rem);
    position: relative;
}

.hero .wrapper-bottom::before{
    content: '';
    background-image: url('../../assets/img/graduates.png');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.hero .wrapper-bottom .bottom-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    justify-content: center;
 }

 .hero .wrapper-bottom .bottom-content span:nth-of-type(2) {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 2rem;
 }

 .hero .wrapper-bottom .bottom-content span:last-of-type {
    text-align: center;
    padding: 1rem;
    width: 60%;
 }

 .hero .wrapper-bottom .bottom-content .button {
    height: 4rem;
    width: 100%;
    display: grid;
    place-items: center;
 }

/* FONTS */
/* .hero .wrapper .content span:first-child, .hero .wrapper-bottom .bottom-content span:nth-child(2) {
    font-size: 2rem;
    font-weight: 700;
    color: #4c3a51;
}
.hero .wrapper .content span:nth-child(2), .hero .wrapper-bottom .bottom-content span:first-child {
    font-size: 1.2rem;
    color: #4c3a51;
}
.hero .wrapper .content span:nth-child(3){
    font-size: 2.5rem;
    color: #b25068;
    font-weight: 700;
    text-transform: uppercase;
}
.hero .wrapper .content span:last-child {
    font-size: 1rem;
    color: #774360;
    letter-spacing: 1px;
} */


/* SURVEY BUTTON */
.hero .wrapper-bottom .bottom-content .button .survey-btn {
    width: 9rem;
    height: 2.5rem;
    font-size: 1rem;
    transition: all ease-in-out .1s;
    border: 3px solid #4C3A51;
    background-image: white;
    color: #774360;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.hero .wrapper-bottom .bottom-content .button .survey-btn:hover {
    cursor: pointer;
    height: 3rem;
    width: 10rem;
    border: 3px solid white;
    color: white;
    background: #4C3A51;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.hero .fab-btn {
    display: block;
    height: 100px;
    width: 100px;
    position: fixed;
    right: 30px;
    bottom: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .hero {
        width: 100%;
        padding-top: 5rem;
    }

    .hero .wrapper {
        height: calc(100vh - 5rem);
        width: 100%;
        padding: .5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero .wrapper::before {
        content: '';
        background-image: url('../../assets/img/mahogany.jpg');
        background-size: cover;
        position: absolute;
        top: 0;
        left: -120px;
        bottom: 0;
        right: 0;
    }

    .hero .wrapper::after {
        content: '';
        background: rgba(0, 0, 0, 0.5);
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transform: translateY(50%);
        height: 50%;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }

    .hero .wrapper .content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        position: relative;
        z-index: 1;
        color: rgb(255, 255, 255);
    }
    
    .hero .wrapper .content span:first-of-type {
        font-weight: bolder;
        text-transform: uppercase;
    }

    .hero .wrapper .content span:nth-of-type(2) {
        font-weight: bold;
        font-size: .8rem;
    }

    .hero .wrapper .content span:nth-of-type(3) {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .hero .wrapper .content span:last-of-type {
        font-size: .8rem;
        text-align: justify;
        text-shadow: 2px 2px #353535;
    }

    /* LOWER */

    .hero .wrapper-bottom {
        height: calc(100vh - 5rem);
        width: 100%;
        /* background: greenyellow; */
        padding: .5rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero .wrapper-bottom::before{
        content: '';
        background-image: url('../../assets/img/graduates.png');
        background-size: cover;
        position: absolute;
        height: 60%;
        left: 0;
        bottom: -10px;
        right: 0;
        opacity: 0.3;
        filter: blur(3px);
        -webkit-filter: blur(3px);
    }

    .hero .wrapper-bottom .bottom-content {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
        justify-content: center;
     }

     .hero .wrapper-bottom .bottom-content span:nth-of-type(2) {
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 2rem;
     }

     .hero .wrapper-bottom .bottom-content span:nth-of-type(4) {
        text-align: center;
        padding: 1rem;
     }

     .hero .wrapper-bottom .bottom-content .button {
        height: 4rem;
        width: 100%;
        display: grid;
        place-items: center;
     }

}

@media screen and (max-width: 320px) {

    .hero {
        width: 100%;
        padding-top: 5rem;
    }

    .hero .wrapper {
        height: calc(100vh - 5rem);
        width: 100%;
        padding: .5rem;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero .wrapper::before {
        content: '';
        background-image: url('../../assets/img/mahogany.jpg');
        background-size: cover;
        position: absolute;
        top: 0;
        left: -120px;
        bottom: 0;
        right: 0;
    }

    .hero .wrapper::after {
        content: '';
        background: rgba(0, 0, 0, 0.5);
        box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: calc(50%);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }

    .hero .wrapper .content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        position: relative;
        z-index: 1;
        color: rgb(255, 255, 255);
    }
    
    .hero .wrapper .content span:first-of-type {
        font-weight: bolder;
        text-transform: uppercase;
    }

    .hero .wrapper .content span:nth-of-type(2) {
        font-weight: bold;
        font-size: .8rem;
    }

    .hero .wrapper .content span:nth-of-type(3) {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .hero .wrapper .content span:last-of-type {
        font-size: .8rem;
        text-align: justify;
        text-shadow: 2px 2px #353535;
    }

    /* LOWER */

    .hero .wrapper-bottom {
        height: calc(100vh - 5rem);
        width: 100%;
        /* background: greenyellow; */
        padding: .5rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero .wrapper-bottom::before{
        content: '';
        background-image: url('../../assets/img/graduates.png');
        background-size: cover;
        position: absolute;
        height: 60%;
        left: 0;
        bottom: -10px;
        right: 0;
        opacity: 0.3;
        filter: blur(3px);
        -webkit-filter: blur(3px);
    }

    .hero .wrapper-bottom .bottom-content {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
        justify-content: center;
     }

     .hero .wrapper-bottom .bottom-content span:nth-of-type(2) {
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 2rem;
     }

     .hero .wrapper-bottom .bottom-content span:nth-of-type(4) {
        text-align: center;
        padding: 1rem;
     }

     .hero .wrapper-bottom .bottom-content .button {
        height: 4rem;
        width: 100%;
        display: grid;
        place-items: center;
     }

}