.hero {
    height: 200vh;
    width: 100%;
    padding: 6rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    /* background: yellow; */
}
/* 
.hero .wrapper {
    background: blue;
}

.hero .wrapper-bottom {
    background: green;
} */

.hero .wrapper .pic, .hero .wrapper-bottom .bottom-pic {
    background: red;
}

.hero .wrapper, .wrapper-bottom {
    height: 50%;
    padding: 1rem;
}

.hero .wrapper .pic, .hero .wrapper-bottom .bottom-pic {
    height: 50%;
    width: 100%;
}

/* FONTS */
.hero .wrapper .content span:first-child, .hero .wrapper-bottom .bottom-content span:nth-child(2) {
    font-size: 2rem;
    font-weight: 700;
    color: #4c3a51;
}
.hero .wrapper .content span:nth-child(2), .hero .wrapper-bottom .bottom-content span:first-child {
    font-size: 1.2rem;
    color: #4c3a51;
}
.hero .wrapper .content span:nth-child(3){
    font-size: 2.5rem;
    color: #b25068;
    font-weight: 700;
    text-transform: uppercase;
}
.hero .wrapper .content span:last-child {
    font-size: 1rem;
    color: #774360;
    letter-spacing: 1px;
}


/* SURVEY BUTTON */
.hero .survey-btn {
    width: 8rem;
    height: 2.5rem;
    font-size: 1rem;
    transition: all ease-in-out .1s;
    border: 3px solid #4C3A51;
    background-image: white;
    color: #774360;
    border-radius: 10px;
}

.hero .survey-btn:hover {
    cursor: pointer;
    height: 3rem;
    width: 10rem;
    border: 3px solid white;
    color: white;
    background: #4C3A51;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

@media screen and (max-width: 1024px) {
    .wrapper, .wrapper-bottom{
        display: flex;
        flex-direction: column-reverse!important;
        justify-content: space-evenly;

    }

    .wrapper .content, .wrapper-bottom .bottom-content {
        display: flex;
        flex-direction: column;
        text-align: justify;
        padding: 1rem;
    }

    .hero .survey-btn {
        position: fixed;
        right: -2rem;
        bottom: 2rem;
        width: 10rem;
        padding-left: 1rem;
        text-align: start;
    }

    .hero .survey-btn.active {
        visibility: hidden;
    }
}

@media screen and (max-width: 750px) {

    .wrapper, .wrapper-bottom{
        display: flex;
        flex-direction: column-reverse!important;
        justify-content: space-evenly;

    }

    .wrapper .content, .wrapper-bottom .bottom-content {
        display: flex;
        flex-direction: column;
        text-align: justify;
        padding: 1rem;
    }

    .hero .survey-btn {
        position: fixed;
        right: -2rem;
        bottom: 2rem;
        width: 10rem;
        padding-left: 1rem;
        text-align: start;
    }

    .hero .survey-btn.active {
        visibility: hidden;
    }
} 


.hero .fab-btn {
    display: block;
    height: 100px;
    width: 100px;
    position: fixed;
    right: 30px;
    bottom: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.fab-btn:hover {
    
}