.profile-card {
    width: 200px;
    height: 300px;
}

.profile-image {
    width: 100%; /* Adjust the width to your desired size */
    height: 200px; /* Allows the height to adjust proportionally */
    object-fit: cover;
  }

.profile-name {
    font-size: 1rem;
    font-weight: bold;
}