.card-component {
    padding: 1rem;
    /* color: white; */
    height: 100%;
}

.card-component .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.card-component .header button {
    padding: .3rem .5rem;
    font-weight: bold;
}

.card-component .header button:hover {
    background: yellow;
}

.card-component .card-content {
    padding: 1rem;
    display: grid;
    place-items: center;
    height: 100%;
}
