.admin * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
}

hr {
    height: 1px;
    margin: 1rem 0;
    opacity: .25;
    color: white;
    background-color: white;
    border: 0;
    display: block;
}

.nav-link {
    padding-left: 1rem;
    gap: 1rem;
}

svg {
    height: 1.3rem;
    width: 1.3rem;
}

.nav-link svg, span {
    pointer-events: none;
}

.line-chart path {
    stroke: #ffffff!important;
}

.sidebar-collapsed, aside, .nav-link, svg {
    transition: all ease .5s;
}

.sidebar-collapsed :is(.logo, .user-name, .user-details) {
    display: none;
}

.sidebar-collapsed .nav-link > span {
    display: none;
}

.sidebar-collapsed .nav-link {
    margin-left: 0!important;
    padding-left: 0!important;
    justify-items: center!important;
}

.sidebar-collapsed .nav-link svg {
    pointer-events: none;
    height: 1.5rem;
    width: 1.5rem;
    transform: translateX(.5rem);
}

.sidebar-collapsed .nav-item {
    width: 40px;
    padding: 0;
    margin: 0;
}

.sidebar-collapsed ul hr {
    width: inherit;
}

.sidebar-collapsed > div:first-child {
    margin: 1rem 0!important;
    justify-content: center;
}