.admin {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.admin .container {
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    width: 20rem;
}

.admin .content {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 2rem;
    flex-direction: column;
    margin: auto;
    gap: 1rem;
    text-align: center;
}

.admin .create-user {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 20rem;
    justify-content: center;
    margin: auto;
}

.admin .content div{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.admin .userInfo {
    background: whitesmoke;
    color: grey;
    backdrop-filter: 10px;
    position: absolute;
    width: 15rem;
    height: 5rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    right: 2rem;
    top: 2rem;
    padding: .7rem;
    font-weight: 600;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.admin .userInfo .userImg {
    height: 100%;
    width: auto ;
}

.admin .userInfo .userImg img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.admin .userInfo .userDetails {
    font-size: .8rem;
}